### Imports

In [1]:
import numpy as np
import pandas as pd

### Load dataset

In [2]:
df = pd.read_csv('book data.csv')
df.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,Unnamed: 12
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,439785960,9.78E+12,eng,652,2095690,27591,9/16/2006,Scholastic Inc.,NaN
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,439358078,9.78E+12,eng,870,2153167,29221,09-01-2004,Scholastic Inc.,NaN
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,439554896,9.78E+12,eng,352,6333,244,11-01-2003,Scholastic,NaN
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9.78E+12,eng,435,2339585,36325,05-01-2004,Scholastic Inc.,NaN
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,439682584,9.78E+12,eng,2690,41428,164,9/13/2004,Scholastic,NaN

In [3]:
df.tail()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,Unnamed: 12
11122,45631,Expelled from Eden: A William T. Vollmann Reader,William T. Vollmann/Larry McCaffery/Michael He...,4.06,1560254416,9.78E+12,eng,512,156,20,12/21/2004,Da Capo Press,NaN
11123,45633,You Bright and Risen Angels,William T. Vollmann,4.08,140110879,9.78E+12,eng,635,783,56,12-01-1988,Penguin Books,NaN
11124,45634,The Ice-Shirt (Seven Dreams #1),William T. Vollmann,3.96,140131965,9.78E+12,eng,415,820,95,08-01-1993,Penguin Books,NaN
11125,45639,Poor People,William T. Vollmann,3.72,60878827,9.78E+12,eng,434,769,139,2/27/2007,Ecco,NaN
11126,45641,Las aventuras de Tom Sawyer,Mark Twain,3.91,8497646983,9.79E+12,spa,272,113,12,5/28/2006,Edimat Libros,NaN

In [4]:
df.drop(['Unnamed: 12'], axis=1, inplace=True)

In [5]:
df.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,439785960,9.78E+12,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,439358078,9.78E+12,eng,870,2153167,29221,09-01-2004,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,439554896,9.78E+12,eng,352,6333,244,11-01-2003,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9.78E+12,eng,435,2339585,36325,05-01-2004,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,439682584,9.78E+12,eng,2690,41428,164,9/13/2004,Scholastic

In [6]:
def combine(data):
    features = []
    for i in range(0, df.shape[0]):
        features.append( data['title'][i] + ' ' + data['authors'][i] + ' ' + data['publisher'][i] )
    return features

In [7]:
df['Imp_Features'] = combine(df)

In [8]:
df.drop(['isbn', 'isbn13', 'ratings_count', 'text_reviews_count', 'publication_date'], axis=1, inplace=True)

In [9]:
index_names = df[ (df['language_code'] != 'eng') & (df['language_code'] != 'en-US')].index

df.drop(index_names, inplace=True)

In [10]:
df.language_code.unique()

array(['eng', 'en-US'], dtype=object)

In [11]:
df.drop_duplicates(subset='title', keep='first', inplace=True)

In [12]:
df.reset_index(drop=True, inplace=True)

In [13]:
df['bookID_idx'] = np.arange(len(df))

In [14]:
df.head()

,bookID,title,authors,average_rating,language_code,num_pages,publisher,Imp_Features,bookID_idx
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,eng,652,Scholastic Inc.,Harry Potter and the Half-Blood Prince (Harry ...,0
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,eng,870,Scholastic Inc.,Harry Potter and the Order of the Phoenix (Har...,1
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,eng,352,Scholastic,Harry Potter and the Chamber of Secrets (Harry...,2
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,eng,435,Scholastic Inc.,Harry Potter and the Prisoner of Azkaban (Harr...,3
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,eng,2690,Scholastic,Harry Potter Boxed Set Books 1-5 (Harry Potte...,4

In [15]:
df.tail()

,bookID,title,authors,average_rating,language_code,num_pages,publisher,Imp_Features,bookID_idx
9605,45630,Whores for Gloria,William T. Vollmann,3.69,en-US,160,Penguin Books,Whores for Gloria William T. Vollmann Penguin ...,9605
9606,45631,Expelled from Eden: A William T. Vollmann Reader,William T. Vollmann/Larry McCaffery/Michael He...,4.06,eng,512,Da Capo Press,Expelled from Eden: A William T. Vollmann Read...,9606
9607,45633,You Bright and Risen Angels,William T. Vollmann,4.08,eng,635,Penguin Books,You Bright and Risen Angels William T. Vollman...,9607
9608,45634,The Ice-Shirt (Seven Dreams #1),William T. Vollmann,3.96,eng,415,Penguin Books,The Ice-Shirt (Seven Dreams #1) William T. Vol...,9608
9609,45639,Poor People,William T. Vollmann,3.72,eng,434,Ecco,Poor People William T. Vollmann Ecco,9609

In [38]:
df.to_csv(r'./book_rec_data.csv', index=False)

In [39]:
def get_data():
    book_data = pd.read_csv('book_rec_data.csv')
    book_data['title'] = book_data['title'].str.lower()
    
    return book_data

In [40]:
from sklearn.feature_extraction.text import CountVectorizer as cv
from sklearn.metrics.pairwise import cosine_similarity as cs

In [41]:
def transform_data(data):
    count_mat = cv().fit_transform(data['Imp_Features'])
    
    cos_sim_mat = cs(count_mat)

    return cos_sim_mat

In [45]:
def recommender(btitle, data, transform):
    bID = data[data.title == btitle]['bookID_idx'].values[0]
    scores = list(enumerate(transform[bID]))
    
    sorted_scores = sorted(scores, key = lambda x:x[1], reverse=True)
    sorted_scores = sorted_scores[1:]
    
    book_indices = [i[0] for i in sorted_scores]
    book_id = data['bookID'].iloc[book_indices]
    book_title = data['title'].iloc[book_indices]
    
    recommendation_data = pd.DataFrame(columns=['Book_ID', 'Title'])
    
    recommendation_data['Book_ID'] = book_id
    recommendation_data['Title'] = book_title
    
    return recommendation_data

In [46]:
def results(title):
    title = title.str.lower()
    
    find_title = get_data()
    transf_res = transform_data(find_title)
    
    if title not in find_title['title'].unique():
        return 'book not in Database'
    else:
        recommendation = recommender(title, find_title, transf_res)
        return recommendations.to_dict('records')